body{
    font-family: 'Barlow', sans-serif;
    margin:0;
    }

h2{
    font-family: 'Fraunces', serif;
}

.header{
    background-image: url("images/desktop/image-header.jpg");
    height: 100vh;
}
.transform{
    display: flex;
    flex-direction: row-reverse;
}
.stand-out{
    display: flex;
}